<div class="form">
  {{ yield (hash text=(component 'fields/text-field' object=object submit=submit blurredFields=blurredFields onFocus=(action 'markFieldFocused') submitted=submitted)
                 textarea=(component 'fields/textarea-field' object=object submit=submit blurredFields=blurredFields onFocus=(action 'markFieldFocused') submitted=submitted)
                 select=(component 'fields/select-field' object=object submit=submit blurredFields=blurredFields onFocus=(action 'markFieldFocused') submitted=submitted)
                 checkbox=(component 'fields/checkbox-field' object=object submit=submit blurredFields=blurredFields onFocus=(action 'markFieldFocused') submitted=submitted))}}
</div>
